AUTHELIA_DOMAIN=internal
AUTHELIA_DEFAULT_REDIRECTION_URL=http://grafana.internal
AUTHELIA_SESSION_SECRET=replace-me
AUTHELIA_STORAGE_ENCRYPTION_KEY=replace-me
AUTHELIA_JWT_SECRET=replace-me
AUTHELIA_PASSWORD_HASH=replace-me
